@import "customMedia.css";
@import "colors.css";

.aboutImg {
    height: calc(100vh - 75px);
    background-color: white;
    background-image: url("/images/about.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media (--mobile) {
        height: 50vh;
    }
    img {
        height: 25px;
        opacity: 0.75;
        margin: 1em;

        @media (--mobile) {
            display: none;
        }
    }
}
.aboutTxt {
    width: 100%;
    display: flex;
    flex-direction: column;

    h1, p {
        font-family: 'Avenir Next', sans-serif;
    }
    h1 {
        display: flex;
        margin: 0;
        width: 100%;
        color: $offWhite;
        font-size: 40px;
        align-items: center;
        justify-content: center;
        background-color: black;
        padding: 2em 15%;

        @media (--mobile) {
            padding: 1.5em;
            font-size: 14px;
            line-height: 24px;
        }
    }
    #about-body {
        width: 100%;
        background-color: white;
        color: black;
        padding: 4em 15%;
        @media (--mobile) {
            padding: 1.5em;
        }

        p {
            margin: 0 0 1em 0;
            @media (--mobile) {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}