.example-enter:not(.example-enter-active),
.example-leave:not(.example-leave-active ){
  transition-delay:0s !important;
  transition-duration: 0s !important;
}

.example-enter {
  opacity: 0;
  transform: translate3d(0,0%,0) rotateX(-90deg);
  /*img{*/
  transform-origin: 50% 0%;
  /*};*/
}

.example-enter.example-enter-active {
  opacity: 1;
  /*img{*/
    /*transform:rotateX(0deg);*/
    transform-origin: 50% 0%;
    /*transition: opacity 1.8s easeOutQuart, transform 2.6s easeOutQuart;*/
  /*}*/
  transform:   translate3d(0,0%,0) rotateX(0deg);
  transition: opacity .6s easeOutQuart, transform .7s easeOutQuart;

}

.example-leave{
  opacity: 1;
  transform:   translate3d(0,0%,0);
}

.example-leave.example-leave-active {
  opacity: 0;
  transition: opacity .2s easeOutQuart, transform .2s easeOutQuart;
  transform: translate3d(-100px,0,0);
}

.example-appear {
  opacity: 0;
  transition: opacity .5s easeOutQuart;
}

.example-appear.example-appear-active {
  opacity: 1;
}

/*.grid-enter{
    opacity: 0;
    transform:   translate(0,0);
    transform: translate3d(0,0,0);
}

.grid-enter.grid-enter-active {
  opacity: 1;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
}
.grid-leave {
  opacity: 1;
  transform:   translate(0,0,0);
  transform: translate3d(0,0,0);
}
.grid-leave.grid-leave-active {
  opacity: 0;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
}*/

/*need to tweak this to start iteration over on each row*/
/*@for $j from 1 through 100 {
  $i : 0;
  @for $i from 1 through 10 {
    .rowId-$j:nth-of-type($i)
      {
        transition-delay: calc(0.1s * $i);
      }
  }
}*/
