.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transition: all 300ms easeOutQuart;
  transform:   translateY(100%);
}

.example-appear {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}

.grid-enter{
    opacity: 0;
    transform:   translate(0,0);
    transform: translate3d(0,0,0);
}

.grid-enter.grid-enter-active {
  opacity: 1;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
}
.grid-leave {
  opacity: 1;
  transform:   translate(0,0,0);
  transform: translate3d(0,0,0);
}
.grid-leave.grid-leave-active {
  opacity: 0;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
}

/*we'll need to adjust this for when we are loading content dynamically*/
@for $i from 1 through 100 {
  .item:nth-of-type($i)
    {
      transition-delay: calc(0.1s * $i);
    }
}
