@import "customMedia.css";

.checkout{
  background: white;
  position: absolute;
  color: black;
  width: 350px;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000000;
  padding: 20px 30px;
  box-shadow: 1px 1px 5px black;

  @media (--mobile) {
    width: 100%;
    min-height: 100%;
    overflow:scroll;
    padding: 1.5em 1.5em 1.5em auto;
  }

  form h2{
    text-align: center;
  }

  form {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .totals {
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px dotted grey;
  }

  .totalAmount {
    width: 100%;
  }

  .desc{
    width: 70%;
    display:inline-block;
    vertical-align: top;

  }
  .price{
    width: 30%;
    display:inline-block;
    text-align: right;
    vertical-align: top;
  }

  .close{
    background-image: url("/images/close_black_2.svg");
    background-size: cover;
    position: absolute;
    top:15px;
    right: 15px;
    width: 15px;
    height: 15px;
    @media (--mobile) {
      height: 30px;
      width: 30px;
      margin: 1.5em 1.5em 1.5em auto;
    }
  }

  label {
    color: black;
    display: block;
  }
  input, select {
    color: black;
    line-height: 30px !important;
    position: relative;
    width: 100%;
    margin: 0px 0px 10px 0;
    padding: 0 5px;
    outline:none;
    border: 1px solid lightgrey;
    &:focus{
      border-color: black;
      border-width: 2px;
    }
  }
  select {
    height: 32px;
    border-radius: 0;
    background: transparent;
    border: 1px solid lightgrey;
    -webkit-appearance: none;
  }
  .error{
    color: red;
  }


}
