label {
  color: black;
  display: block;
}
input {
  color: black;
  line-height: 37px;
  width: 250px;
  margin: 0px 0px 10px 0;
  padding: 0 5px;
  outline:none;
  :focus{
    border: black;
  }
}
.error{
  color: red;
}

.checkout{
  background: white;
  position: absolute;
  color: black;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000000;
  padding: 20px 30px;
  box-shadow: 1px 1px 5px black;
}
