@import "customMedia.css";

.contactParent {
  @media (--mobile) {
    display: flex;
    flex-direction: column;
  }
}
.gallery-parent {
  margin: 0 0 1.75em 0 !important;
}
.contactImg {
  height: calc(100vh - 75px);
  background-color: white;
  background-size: cover;
  background-position: center center;

  @media (--mobile) {
    display: none;
  }
}
.mobileHeader {
  display: block;
  background-color: black;
  overflow: auto;
  color: white;
  padding: 1.5em;

  p {
    font-family: 'Avenir Next Demi', sans-serif;
    text-transform: uppercase;
    margin: 0;
  }
  a {
    color: white;
    font-family: 'Avenir Next', sans-serif;
    margin: 0;
  }
  @media (--desktop) {
    display: none;
  }
}
.contactTxt {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 4em 15vw;

  @media (--mobile) {
    flex-direction: column-reverse;
    padding: 1.5em;
    flex-grow: 1;
    justify-content: flex-end;
  }
  section {
    @media (--desktop) {
      width: 50%;

      &.studio {
        text-align: center;

        main {
          margin: 0 auto;
          text-align: left;
          display: inline-block;
          min-width: 300px;
        }
      }
    }
    @media (--mobile) {
      &.studio {
        main {
          article {
            &:first-of-type {
              display: none;
            }
          }
        }
      }
    }
    h2, p, a {
      color: black;
      margin: 0;
      font-size: 14px;
      display: block;
    }
    p, a {
      font-family: 'Avenir Next', sans-serif;
    }
    h2 {
      font-family: 'Avenir Next Demi', sans-serif;
      text-transform: uppercase;
    }
    article {
      margin: 0 0 1.5em 0;

      div {
        margin: 0 0 0.25em 0;
      }
    }
  }
  .newsletter {
    display: flex;

    input, button {
      display: inline-block;
      font-family: 'Avenir Next', sans-serif;
      font-size: 14px;

      @media (--mobile) {
        font-size: 12px;
      }
      padding: 0.5em;
      border: solid 2px #ccc;
    }
    input {
      color: black;
      width: 100%;
      margin: 0 5px 0 0;
      -webkit-appearance: none;

      @media (--mobile) {
        margin: 0;
      }
    }
    button, input.button {
      background-color: #ccc;
      color: white;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 150ms ease-out, color 250ms ease-out;
      @media (--mobile) {
        font-weight: bold;
      }
      &:hover {
        background-color: white;
        color: #ccc;
      }
    }
  }
  .social {
    @media (--mobile) {
      display: none;
    }
    a {
      height: 30px;
      width: 30px;
      display: inline-block;
      margin: 0 5px 0 0;

      &.fb {
        background-image: url('/images/fb.svg');
      }
      &.twitter {
        background-image: url('/images/twitter.svg');
      }
      &.insta {
        background-image: url('/images/insta_gray.svg');
      }
    }
  }
}

form.validate {
    width: 100%;
}


label {
  p {
    color: 'black';
  }
}

.indicates-required {
  p { color: 'black'; }
}