@font-face {
    font-family: 'Futura';
    font-weight: bold;
    src: url('/fonts/FuturaStd-Bold.otf');
}

@font-face {
    font-family: 'Futura';
    font-weight: normal;
    src: url('/fonts/FuturaStd-Medium.otf');
}

@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('/fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/fonts/MyriadPro-Regular.otf');
}




