@font-face {
    font-family: 'FuturaStd-Bold';
    src: url('/fonts/FuturaStd-Bold.otf');
}

@font-face {
    font-family: 'FuturaStd-Heavy';
    src: url('/fonts/FuturaStd-Heavy.otf');
}

@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('/fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/fonts/MyriadPro-Regular.otf');
}




