* {
    box-sizing: border-box;
}

$pink: red;

html, body {
    width: 100%;
    height: calc(100% - 50px);
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

main {
  margin: 50px 0 0 0;
}

@import "customMedia.css";
@import "fonts.css";
@import "animation.css";
@import "navbar.css";
