.singleItem {
    height: calc(100vh - 75px);
}

.item {
    backface-visibility: hidden;
    display: inline-block;
    transform-origin: 50% 0%;
    perspective: 600px;
    transform-style: preserve-3d;

    img {
        backface-visibility: hidden;
        transition: opacity .5s easeOutQuart;

        &.zoom {
            transform: scale(1.2);
        }
    }

    .text {
        opacity: 0;
        transition: opacity 1s .2s easeOutQuart;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 18px;
        padding: 15px;

        p {
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            color: white;
            font-size: 12px;
            font-family: 'Avenir Next', sans-serif;
            font-style: italic;
            letter-spacing: 1.5px;
            text-align: center;
        }
    }

    &:hover {
        img {
            opacity: 0.25;
        }

        .text {
            opacity: 1;
        }
    }

    &.newsItem {
        cursor: pointer;

        .textNews {
            transition: background-color .5s easeOutQuart;
            background-color: rgba(197, 2, 11, 0.75);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 15px;

            p {
                font-style: italic;
                text-transform: uppercase;
                color: white;
                margin: 0;
                padding: 0;
                text-align: center;

                &:first-of-type {
                    line-height: 24px;
                    font-size: 20px;
                    font-family: 'Minion Pro', sans-serif;
                }
                &:nth-of-type(2) {
                    font-family: 'Avenir Next', sans-serif;
                    font-size: 12px;
                }
            }
        }

        &:hover {
            .textNews {
                background-color: rgba(197, 2, 11, 0.5);
            }
        }
    }
}

/*.newsItem {
    background-color: rgba(255, 0, 0, 1);
    opacity: 1;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}*/