section {
    &.links {
        z-index: 99;
        position: fixed;
        top: 50px;
        left: 0;
        display: flex;
        height: calc(100vh - 50px);
        width: 100vw;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            color: white;
            display: inline-block;
            font-family: 'FuturaStd-Bold', sans-serif;
            text-transform: uppercase;
            font-size: 4em;
        }
    }
}