section {
    &.links {
        display: flex;
        height: 100vh;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            color: white;
            display: inline-block;
            font-family: 'FuturaStd-Bold', sans-serif;
            text-transform: uppercase;
            font-size: 4em;
        }
    }
}