section {
    &.links {
      display: flex;
      flex-direction: column;
        a {
          display: inline-block;
            &:last-of-type {
              /*display: none;*/
            }
        }
    }
}