nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 75px;

    .left {
        width: 30%;
        display: inline-flex;

        a {
            color: black;
            font-family: 'Rockwell Bold', serif;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    .right {
        width: 30%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;

        img {
            height: 15px;
            cursor: pointer;
            padding: 0 1em 0 0;
        }
    }

    .middle {
        width: 40%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        color: black;
        font-family: 'Futura', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 4px 0;
        padding: 0;
        font-size: 9px;
        letter-spacing: 1.5px;
    }

    .filterLinks {
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: 'Futura', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;

        span, p, a {
            display: inline-block;
        }

        a {
            text-transform: uppercase;
            margin: 0;
            padding: 0.25em 1em;
            font-size: 9px;
            color: gray;

            &.selected {
                color: black;
            }
        }
    }
}

a {
    color: black;
    text-decoration: none;
    margin: 0 2em;
}