nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    @media (--desktop) {
        height: 50px;
    }

    @media (--mobile) {
        height: 50px;
    }

    p {
        color: black;
        font-family: 'FuturaStd-Bold', sans-serif;
        text-transform: uppercase;
        margin: 0;
        padding: 0;

        @media (--desktop) {
            font-size: 12px;
        }

        @media (--mobile) {
            font-size: 12px;
        }
    }

    .filterLinks {
        a {
            font-family: 'MyriadPro-Regular', sans-serif;
            text-transform: uppercase;
            margin: 0;
            padding: 0 0.5em;
            font-size: 12px;
            color: gray;
            &.selected {
                color: black;
            }
        }
    }

    .holdImg {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 0;

        img {
            @media (--desktop) {
                height: 10px;
            }

            @media (--mobile) {
                height: 20px;
            }

            cursor: pointer;
        }
    }
}

a {
    color: black;
    text-decoration: none;
    margin: 0 2em;
}