nav {
    width: 100%;

    @media (--desktop) {
        height: 50px;
    }

    @media (--mobile) {
        height: 50px;
    }

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .holdImg {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 0;


        img {
            height: 10px;
        }
    }
}

a {
    color: black;
    text-decoration: none;
    margin: 0 2em;
}