@import "customMedia.css";

nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 75px;

    @media (--mobile) {
        /*height: 60px;*/
        top:-20px;
        padding-top:20px;
        height:80px;
    }
    transition: height 300ms easeOutQuart, transform .6s easeOutQuart, opacity .6s easeOutQuart;

    &.hidden {
        /*display: none;*/
        opacity:0;
        transform: translateY(-75px);
        transition: height 300ms easeOutQuart, transform .3s easeOutQuart, opacity .3s easeOutQuart;

    }

    &.expand {
        height: 100vh;

        .bottom {
            display: flex;
        }
    }
    &.transparent {
        background-color: transparent;
        padding: 0.5em;

        .top {
            .left {
                a {
                    color: white;
                }
            }
            .right {
                align-items: flex-start !important;
            }
        }
    }
    .top {
        height: 75px;

        @media (--mobile) {
            height: 60px;
        }
        padding: 1.5em;
        width: 100%;
        display: flex;
        /*position: fixed;*/
        align-items: center;

        .left {
            width: 30%;
            display: inline-flex;

            a {
                margin: 0;

                &.back {
                    height: 20px;
                    width: 10px;
                    background-image: url("/images/left.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;

                    @media (--desktop) {
                        display: none;
                    }
                }
                &.logo {
                    font-family: 'Rockwell Bold', serif;
                    text-transform: uppercase;
                    color: black;
                    letter-spacing: 2px;
                    /*display:none;*/

                    @media (--mobile) {
                        display: none;
                    }
                }
            }
            p {
                font-family: 'Futura', sans-serif;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                font-size: 10px;
                letter-spacing: 1.5px;
                color: rgba(200, 200, 200, 1);
                background: url("/images/filter_arrow.svg") no-repeat center right;
                background-size: 21%;
                padding: 0 1.25em 0 0;

                @media (--desktop) {
                    display: none;
                }
            }
        }
        .right {
            width: 30%;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;

            @media (--mobile) {
                height: 100%;
                align-items: center;
            }
            img {
                opacity: 1;
                transition: opacity 250ms easeOutQuart;

                &.hamburger {
                    @media (--desktop) {
                        height: 20px;
                    }
                    @media (--mobile) {
                        height: auto;
                        width: 25px;
                    }
                }
                &.close {
                    height: 30px;
                    opacity: 0.9;

                    @media (--mobile) {
                        height: 20px;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
                cursor: pointer;
            }
            .cart-icon {
                display: flex;
                padding: 0 1.0em 0 0;
                cursor: pointer;

                @media (--mobile) {
                    padding: 0 0.75em 0 0;
                }
                align-items: center;

                img {
                    display: inline-block;
                    margin: 0 0.5em 0 0;

                    @media (--mobile) {
                        height: auto;
                        width: 20px;
                    }
                    @media (--desktop) {
                        height: auto;
                        width: 21px;
                    }
                }
                p {
                    font-family: 'Futura', sans-serif;
                    font-size: 10px;

                    @media (--mobile) {
                        font-size: 8px;
                    }
                    display: inline-block;
                    color: black;
                    margin: 0;
                    padding: 0;
                    margin-left:-5px;

                }
            }
        }
        .middle {
            width: 40%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p, a {
                color: black;
                font-family: 'Futura Bold', sans-serif;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                font-size: 9px;
                letter-spacing: 1.5px;

                @media (--mobile) {
                    font-size: 12px;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
        .filterLinks {
            max-width: 400px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            letter-spacing: 1px;
            margin: 4px 0 0 0;

            @media (--mobile) {
                display: none;
            }
            span, p, a {
                display: inline-block;
            }
            a {
                text-transform: uppercase;
                font-family: 'Futura Medium', sans-serif;
                margin: 0;
                padding: 0.25em 1em;
                font-size: 9px;
                color: gray;
                transition: color 150ms ease-out;

                &:hover {
                    color: black;
                }
                &.selected {
                    color: black;
                }
            }
        }
    }
    .bottom {
        display: none;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 50px;

        div {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                font-family: 'Futura', sans-serif;
                letter-spacing: 5px;
                font-size: .8em;
                padding: 1.25em;
                text-transform: uppercase;
                color: black;
            }
        }
    }
}

/*a {
    color: black;
    text-decoration: none;
    margin: 0 2em;
}*/