@import "customMedia.css";

.newsParent {
    display: flex;

    div.parent {
        display: inline-flex;
        flex-direction: column;

        &.right {
            width: 30%;

            @media (--mobile) {
                display: none;
            }

            border-left: 2px solid transparent;
            background-color: transparent;

            a {
                width: 100%;
                margin: 0;
                padding: 0;
                font-size: 0;

                &:first-of-type {
                    margin: 2px 0 0 0;
                }

                img {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        &.left {
            width: 70%;

            @media (--mobile) {
                width: 100%;
            }

            div {
                background-color: white;
                margin: 1px 0 1px 0;
                padding: 2em;
                display: flex;

                @media (--mobile) {
                    flex-direction: column;
                    padding: 1.75em 1em;
                }

                &:first-of-type {
                    margin: 2px 0 1px 0;
                }

                section {
                    &.left {
                        width: 20%;
                        display: inline-flex;
                        align-items: center;

                        @media (--mobile) {
                            width: 100%;
                        }

                        @media (--desktop) {
                            margin: 0 3em 0 0;
                            justify-content: center;
                            flex-direction: column;

                            article {
                                display: none;
                            }
                        }

                        article {
                            h1, p {
                                margin: 0;
                                padding: 0;
                            }

                            h1 {
                                color: black;
                                font-family: 'Minion Pro', sans-serif;
                                font-style: italic;
                                text-transform: uppercase;
                                font-size: 14px;
                            }

                            p {
                                color: black;
                                font-family: 'Avenir Next', sans-serif;
                                font-style: italic;
                                text-transform: uppercase;
                                font-size: 12px;
                            }
                        }

                        img {
                            width: 100%;

                            @media (--mobile) {
                                width: 30%;
                                margin: 0 1em 0 0;
                            }
                        }
                    }

                    &.middle {
                        display: inline-flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;
                        width: 70%;

                        @media (--mobile) {
                            width: 100%;
                            font-size: 0;

                            .desktop {
                                display: none;
                            }
                        }

                        h1, p {
                            margin: 0;
                            padding: 0;
                        }

                        h1 {
                            color: black;
                            font-family: 'Minion Pro', sans-serif;
                            font-style: italic;
                            text-transform: uppercase;
                            font-size: 20px;
                        }

                        p {
                            color: black;

                            &.location {
                                font-family: 'Avenir Next', sans-serif;
                                font-style: italic;
                                text-transform: uppercase;
                                font-size: 12px;
                            }

                            &.description {
                                padding: 1em 0 0 0;
                                font-size: 12px;
                                font-family: 'Avenir Next', sans-serif;

                                @media (--mobile) {
                                    line-height: 20px;
                                }
                            }
                        }
                    }

                    &.right {
                        width: 10%;
                        display: inline-flex;
                        justify-content: flex-end;
                        align-items: center;

                        @media (--mobile) {
                            display: none;
                        }

                        a {
                            height: 20px;
                            padding: 0;
                            margin: 0;
                            width: 20px;
                            background-position: center center;
                            background-repeat: no-repeat;
                            display: inline-block;
                            background-size: contain;
                            background-image: url("/images/link.png");
                        }
                    }
                }
            }
        }
    }
}

#newsList1, #newsList2 {
    position: absolute;
    top: 0px;
    left: 0px;

    /*  width:100%;*/
    /*min-height: 300px;*/
}

#newsList2 {
    position: relative;
}