@import "customMedia.css";

.productShowcase {
    border-top: 1px solid black;
    background-color: white;
    position: relative;

    @media (--desktop) {
        height: calc(100vh - 75px);
    }
    @media (--mobile) {
        height: 100%;
        min-height: calc(100vh - 60px);
    }
    .image {
        text-align: center;
        width: 100%;
        max-width: 100vw;

        @media (--desktop) {
            padding: 5em 0 0 0;
        }
        img {
            height: 55vh;
            max-width: 100vw;
            object-fit: contain;
        }
    }
    .info {
        bottom: 0;
        width: 100%;
        padding: 1em;
        position: absolute;

        section {
            &.top, &.bottom {
                display: flex;
            }
            &.top {
                margin: 0 0 0.5em 0;

                h1 {
                    width: 50%;

                    @media (--mobile) {
                        width: 75%;
                    }
                }
                p {
                    text-align: right;
                    width: 50%;

                    @media (--mobile) {
                        width: 25%;
                    }
                }
            }
            &.bottom {
                @media (--mobile) {
                    display: flex;
                    flex-direction: column;
                }
                .description {
                    @media (--desktop) {
                        width: 70%;
                        padding: 0 25% 0 0;
                        display: flex;
                        align-items: center;

                        p {
                            font-size: 14px;
                        }
                    }
                    @media (--mobile) {
                        padding-bottom: 1em;

                        p {
                            font-size: 12px;
                        }
                    }
                }
                a {
                    text-align: center;
                    font-size: 11px;
                }
                .button-parent {
                    @media (--desktop) {
                        width: 30%;
                        display: flex;
                        justify-content: flex-end;
                    }
                    @media (--mobile) {
                        width: 100%;
                    }
                }
            }
        }
        button, a {
            background-color: black;
            padding: 1em 2.5em;
            cursor: pointer;
            background-image: url("/images/t4.jpg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: background-color 250ms ease-out, background-image 250ms ease-out;
            font-family: 'Avenir Next Bold', sans-serif;
            border: 2px solid black;
            color: white;
            display: block;

            @media (--desktop) {
                width: 75%;
            }
            @media (--mobile) {
                width: 100%;
            }
            &:hover {
                background-color: white;
                background-image: none;
                color: black;
            }
        }
        h1, p {
            color: black;
            background-color: white;
            margin: 0;
            padding: 0;
        }
        h1 {
            font-family: 'Avenir Next Bold', sans-serif;
            font-weight: bolder;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
        }
        p {
            font-family: 'Avenir Next', sans-serif;

            &.description {
                font-size: 12px;

                @media (--mobile) {
                    margin: 0 0 0.5em 0;
                }
            }
            &.price {
                font-size: 16px;

                &.no-price {
                    @media (--mobile) {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

.images-select {
    position: absolute;
    top: 0;
    text-align: right;
    width: 100%;
    padding: 2em;
    img {
        display: inline-block;
        max-height: 100px;
        cursor: pointer;
        max-width: 100px;
        border: 2px solid black;
        opacity: 0.5;
        margin: 0 0 0 1em;
        transition: opacity 250ms ease-out;
        &.selected {
            opacity: 1;
        }
    }
}




