@import "customMedia.css";

.productShowcase {
    border-top: 1px solid black;
    background-color: white;
    position: relative;

    @media (--desktop) {
        height: calc(100vh - 75px);
    }
    @media (--mobile) {
        height: 100%;
        min-height: calc(100vh - 60px);
    }
    .image {
        text-align: center;
        width: 100%;
        max-width: 100%;

        @media (--desktop) {
            padding: 5em 0 0 0;
        }
        @media (--mobile) {
            padding: 1.5em;
        }
        img {
            min-height: 55vh;
            max-height: 55vh;
            max-width: 100%;
            opacity: 1;
            backface-visibility: hidden;
            transition: opacity 150ms ease-out;
            &.mask {
              opacity: 0;
            }
        }
    }
    .info {
        bottom: 0;
        width: 100%;

        @media (--desktop) {
            padding: 1em 1em 2em 1em;
        }
        @media (--mobile) {
            padding: 1em;
        }
        position: absolute;
        display: flex;

        @media (--mobile) {
            flex-direction: column;
        }
        section {
            &.left, &.right {
                display: flex;
                width: 50%;

                @media (--mobile) {
                    width: 100%;
                }
            }
            &.left {
                flex-direction: column;
                justify-content: flex-end;

                @media (--mobile) {
                    margin: 0 0 0.5em 0;
                }
                a {
                    color: black;
                    cursor: pointer;
                }
            }
            &.right {
                @media (--desktop) {
                    justify-content: flex-end;
                    flex-direction: column;
                    align-items: flex-end;
                }
                @media (--mobile) {
                    flex-direction: column;
                }
                a {
                    text-align: center;
                    font-size: 11px;
                }
                .bottom {
                    display: flex;
                    justify-content: flex-end;
                    @media (--mobile) {
                        flex-direction: column;
                    }
                }
                .top {
                    text-align: right;
                    width: 100%;
                    padding: 0 0 1em 0;

                    .dropdowns-parent {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;

                        select {
                            width: 173px;
                            @media (--mobile) {
                                width: 100%;
                            }
                            margin: 0 0 1em 0;
                            option {
                                font-family: 'Avenir Next', sans-serif;
                            }
                            font-family: 'Avenir Next', sans-serif;
                            -webkit-appearance: none;
                            border-radius: 0;
                            background-color: white;
                            color: black;
                            border: 1px solid black;
                            padding: 0.75em 0 0.4em 0.5em;
                            background-image: url('/images/dropdown.png');
                            background-size: contain;
                            background-position: center right;
                            background-repeat: no-repeat;
                            &:focus {
                                outline: 0;
                            }

                            &:last-of-type {
                                margin: 0;
                            }
                        }
                    }
                    a {
                        color: black;
                        font-family: 'Avenir Next', sans-serif;
                        cursor: pointer;
                        margin: 0 0 1em 0;
                        display: block;
                        text-align: right;
                    }
                    p {
                      color: red;
                      font-family: 'Avenir Next', sans-serif;
                      font-size: 12px;
                      margin: 0 0 1em 0;
                      display: block;
                      text-align: right;
                      &.hidden {
                        display: none;
                      }
                    }
                }
                .price {
                    display: flex;

                    @media (--desktop) {
                        margin: 0 1em 0 0;
                    }
                    align-items: center;

                    P {
                        font-size: 16px;
                    }
                    &.no-price {
                        @media (--mobile) {
                            p {
                                font-size: 11px;
                            }
                        }
                    }
                    @media (--mobile) {
                        margin: 0 0 0.5em 0;
                        width: 100%;

                        p {
                            margin: auto;
                        }
                    }
                }
                .button-parent {
                    @media (--desktop) {
                        min-width: 30%;
                    }
                    @media (--mobile) {
                        width: 100%;
                    }
                    button, a {
                        background-color: black;
                        padding: 1em 2.5em;
                        cursor: pointer;
                        background-image: url("/images/t4.jpg");
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: background-color 250ms ease-out, background-image 250ms ease-out;
                        font-family: 'Avenir Next Bold', sans-serif;
                        border: 2px solid black;
                        color: white;
                        display: block;

                        @media (--mobile) {
                            width: 100%;
                            font-size: 10px;
                        }
                        &:hover {
                            background-color: white;
                            background-image: none;
                            color: black;
                        }
                    }
                }
            }
        }
        h1, p {
            color: black;
            background-color: white;
            margin: 0;
            padding: 0;
        }
        h1 {
            font-family: 'Avenir Next Bold', sans-serif;
            font-weight: bolder;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
            padding-bottom: 5px;
        }
        p {
            font-family: 'Avenir Next', sans-serif;

            &.description {
                font-size: 12px;

                @media (--mobile) {
                    margin: 0 0 0.5em 0;
                }
            }
        }
    }
    .size-chart {
        position: fixed;
        cursor: pointer;
        z-index: 999999;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 250ms ease-out;

        &.hide {
            opacity: 0;
            pointer-events: none;
        }
        img {
            max-width: 75vw;
            max-height: 70vh;
        }
    }
}
.images-select {
    position: absolute;
    top: 0;
    text-align: right;
    width: 35%;
    right: 0;
    padding: 2em;

    @media (--mobile) {
      width: 100%;
      padding: 1em;
    }

    div {
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        border: 2px solid black;
        backface-visibility: hidden;
        opacity: 0.5;
        width: 75px;
        height: 75px;
        margin: 0 0 0.5em 0.5em;
        @media (--mobile) {
          width: 50px;
          height: 50px;
          margin: 0 0 0.25em 0.25em;
        }
        transition: opacity 250ms ease-out;

        &.selected {
            opacity: 1;
        }
    }
}
