@import "customMedia.css";

.products {
  width: 100%;
  background-color: white;

  .inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 1em;

    @media (--desktop) {
      width: 75vw;
      margin: 0 auto;
    }
  }
  a {
    padding: 3em;
    position: relative;

    @media (--mobile) {
      width: calc(50vw - 4px);
      height: 50vw;
      margin: 1px;
    }
    @media (--desktop) {
      width: calc((75vw) * 0.33333333333);
      height: calc((75vw) * 0.33333333333);
    }
    cursor: pointer;
    background-color: white;

    div {
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 1;
      transition: opacity 250ms ease-out;
    }
    p {
      color: black;
      display: block;
      backface-visibility: hidden;
      width: 100%;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      color: black;
      font-size: 12px;
      font-family: 'Avenir Next', sans-serif;
      font-weight: bolder;
      font-style: italic;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      opacity: 0;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%) translateY(0%) translateZ(0px);
      transition: opacity 450ms 100ms ease-out;
    }
    &:hover {
      div {
        opacity: 0.35;
      }
      p {
        opacity: 1;
      }
    }
  }
}
