@import "customMedia.css";

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;


    a {
        padding: 2em;
        @media (--mobile) {
            width: calc((100% - 6px) * 0.5);
            height: 50vw;
        }

        @media (--desktop) {
            width: calc((100% - 6px) * 0.33333333333);
            height: 33vw;
        }

        cursor: pointer;
        margin: 1px;
        background-color: white;

        div {
         height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
        transition: opacity 150ms ease-out;
        }

        p {
            color: black;
            display: none;
        }
        &:hover {
            div {
                opacity: 0.5;
            }
        }
    }
}